<main class="internal-page about">		
    
    <div class="cd-index cd-main-content">

        <!-- Page Content -->
        <div id="page-content" class="light-content">

            <!-- Navbar -->
            <app-navbar></app-navbar>

            <!-- Main -->
            <div class="internal-main animated fadeIn">   
                <div class="container-fluid">
                    <div class="bootstrap-wrapper">
                        <div class="col-lg-12">
                            <br>
                            <br>
                            <h1 class="title">
                                About <br> Cycron, the project.
                            </h1>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="bootstrap-wrapper">
                        <div class="col-sm-12 col-lg-8">
                            <p>
                                Cycron Swiss SA is a Swiss company, active since 2017 with headquarters in Switzerland and operating worldwide in the fintech sector. Leader in the development of blockchain-based projects and low-level algorithmic solutions, data analysis and machine learning.
                            </p>

                            <p>
                                This company belongs to an important Fintech research and development network in Switzerland and in the world, which aims to develop revolutionary technological solutions in the blockchain world.
                            </p>
                            
                            <p>
                                Some of the main advances in the blockchain and development fields are connected to the world of cryptocurrency trading. Believing in the potential and synergies of the right people, the company has developed an ecosystem of services and products that are supported by a high level of technology.
                            </p>
                        </div>
                    </div>
                    <div class="bootstrap-wrapper">
                        <div class="col-sm-12 col-lg-12">
                            <div class="partners">
                                <img src="../../../assets/images/partners/1.png" alt="">
                                <img src="../../../assets/images/partners/2.png" alt="">
                                <img src="../../../assets/images/partners/3.png" alt="">
                                <img src="../../../assets/images/partners/4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
            <!--/Main --> 
            
            
        </div>    
        <!--/Page Content -->
        
    </div>
</main>        
        