<app-preloader [status]="preloader"></app-preloader>

<main class="internal-page cp_home">
  <div class="cd-index cd-main-content">
    <!-- Page Content -->
    <div id="page-content" class="light-content">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <!-- Main -->
      <div class="internal-main animated fadeIn">
        <br />
        <br />
        <div class="bootstrap-wrapper">
          <div class="row mb-5">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <h3>Last signals</h3>
            </div>
          </div>
          <div>
            <div class="row mt-5">
              <div class="col-4" *ngFor="let badge of signals; let i = index">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      {{ badge.companies }}
                    </div>
                    <div class="card-text">
                      <h2>{{ badge.title }}</h2>
                      <h5>{{ badge.date | date }}</h5>
                      <p class="card-text">{{ badge.description }}</p>
                      <div class="col align-middle mt-5">
                        <a
                          href="{{ badge.source }}"
                          rel="nofollow"
                          target="_blank"
                          class="btn btn-outline-danger btn-block"
                          >Source</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Main -->
    </div>
    <!--/Page Content -->
  </div>
</main>
